lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
test/*.test.ts
test/2019*
output
autoControllers

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env
.time

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

package-lock.json
yarn.lock

src/__tmp__
.npmrc
static/swagger